<!-- Footer -->

<div class="footer">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 align-foot">
            <img class="foot-brand" src="/images/Bucci brand.png" alt="Brand name">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 align-foot">
            <label for="email"><i class="fa-solid fa-envelope"></i></label>
            <a name="email" class="foot-links-style" target="_blank" href="mailto:Estela.Bucci@gmail.com">Estela.Bucci@gmail.com</a>
            <br>
            <label for="phone"><i class="fa-solid fa-phone"></i></label>
            <a name = "phone" class="foot-links-style" target="_blank" href="tel:+55(21)96453-5683">+55(21)96453-5683</a>
            <br>
            <label for="map"><i class="fa-regular fa-location-dot"></i></label>
            <a href="https://goo.gl/maps/RnmbG52WHpGjVudQ6" target="_blank" class="foot-links-style">Av. Gov. Amaral Peixoto, 427 - Centro, Nova Iguaçu - RJ, 26064-530, Brasil
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 align-foot">
            <a href="https://www.instagram.com/bucci.atelie" target="_blank" class="foot-links-style" >
                <i class="fa-brands fa-instagram icon-size"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100012170051659" target="_blank" class="foot-links-style">
                <i class="fa-brands fa-square-facebook icon-size"></i>
            </a>
        </div>
    </div>
  </div>
  

    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="/app.js"></script>
</body>

</html>
