<%- include("partials/header"); -%>

<section class="gallery-block grid-gallery">
    <div class="container">
        <div class="heading">
            <h2>Gallery</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="/images/info2.jpg">
                    <img class="img-fluid image scale-on-hover" src="/images/info2.jpg">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="/images/gallery1.jpg">
                    <img class="img-fluid image scale-on-hover" src="/images/gallery1.jpg">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="/images/gallery2.jpg">
                    <img class="img-fluid image scale-on-hover" src="/images/gallery2.jpg">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="/images/gallery3.jpg">
                    <img class="img-fluid image scale-on-hover" src="/images/gallery3.jpg">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="/images/gallery4.jpg">
                    <img class="img-fluid image scale-on-hover" src="/images/gallery4.jpg">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="/images/gallery5.jpg">
                    <img class="img-fluid image scale-on-hover" src="/images/gallery5.jpg">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="/images/gallery6.jpg">
                    <img class="img-fluid image scale-on-hover" src="/images/gallery6.jpg">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="/images/gallery7.jpeg">
                    <img class="img-fluid image scale-on-hover" src="/images/gallery7.jpeg">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="/images/info3.jpg">
                    <img class="img-fluid image scale-on-hover" src="/images/info3.jpg">
                </a>
            </div>
        </div>
    </div>
</section>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.grid-gallery', { animation: 'slideIn'});
</script> -->

<%- include("partials/footer"); -%>