<%- include("partials/header"); -%>

<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner carousel-css justify-content-center">
        <div class="carousel-item active">
            <img src="/images/pic1.jpg" class="d-block w-100" alt="girl with flower" />
        </div>
        <div class="carousel-item">
            <img src="/images/pic2.jpg" class="d-block w-100" alt="girl in a car" />
        </div>
        <div class="carousel-item">
            <img src="/images/pic3.jpg" class="d-block w-100" alt="girl with a man" />
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div id="sobre" class="row stylist">
    <div class="col col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center ">
        <img src="/images/info1.jpg" alt="dress" />
    </div>
    <div class="col col-lg-6 col-md-12 col-sm-12 d-flex flex-column justify-content-center">
        <div class="content">
            <h2 class="about-heading">Sobre</h2>

            <p class="para-about">
                Por mais de 20 anos, Bucci Atleir tem sido um salão de noivas com serviço completo
                 atendendo na região de Nova Iguaçu. Momentos especiais são criados aqui. nós temos
                 ajudou milhares de noivas a se sentirem bonitas para seu grande
                 dias. Desde encontrar o vestido de noiva perfeito até estilizar a dama de honra
                 grupos, estamos aqui para dar vida às visões nupciais. Nós adoraríamos
                 ajudar no que pudermos! Fazemos vestidos de noiva requintados que são
                 exclusivo para as necessidades de nossos clientes.
            </p>
        </div>
    </div>
</div>



<div class="categories">
    <h3 class="categories-header my-2">Criações</h3>
    <div class="card-group card-borders">
        <div class="card">
            <img src="/images/info5.jpg" class="card-img-top" alt="Girl in a wedding dress">
            <div class="card-body">
                <h5 class="card-title about-heading">Vestidos de noiva</h5>
                <button type="button" class="btn btn-outline-dark" onclick="window.location.href='/gallery';">Veja mais</button>
            </div>
        </div>
        <div class="card">
            <img src="/images/info4.jpeg" class="card-img-top" alt="cute girl">
            <div class="card-body">
                <h5 class="card-title about-heading">Crianças</h5>
                <button type="button" class="btn btn-outline-dark" onclick="window.location.href='/gallery';">Veja mais</button>
            </div>
        </div>
        <div class="card">
            <img src="/images/info6.jpg" class="card-img-top" alt="party dress">
            <div class="card-body">
                <h5 class="card-title about-heading">Vestido de festa</h5>
                <button type="button" class="btn btn-outline-dark" onclick="window.location.href='/gallery';">Veja mais</button>
            </div>
        </div>
    </div>
</div>

<div class="bgimg-2">
    <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">Depoimentos</span>
    </div>
</div>
<!--Testimonials-->
<div id="testimonials">    
    <div id="carousel-testimonial" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
      <button type="button" data-bs-target="#carousel-testimonial" data-bs-slide-to="0" class="active btn-test" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carousel-testimonial" data-bs-slide-to="1" class="btn-test" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carousel-testimonial" data-bs-slide-to="2" class="btn-test" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item test-item active">
        <div class="row">
          <div class="col-lg-4">
            <img class="test-img" src="/images/test1.jpeg" width="auto" height="200px" alt="woman in a gown" >
        <h3>Larissa</h3>
        <p>Não consigo expressar o quão absolutamente deslumbrante meu vestido de noiva era. Desde o momento em que o coloquei, me senti uma princesa. A renda intrincada, o bordado delicado e a silhueta impecável fizeram com que eu me sentisse a noiva mais linda do mundo. A atenção aos detalhes e artesanato eram evidentes em cada ponto. Recebi inúmeros elogios ao longo do dia e realmente me senti como um sonho realizado. Obrigado aos designers talentosos que criaram essa obra-prima. Meu vestido de noiva superou todas as minhas expectativas e guardarei as lembranças de usá-lo para sempre.</p>
        </div>
        <div class="col-lg-4">
            <img class="test-img" src="/images/test2.jpg" width="auto" height="200px" alt="woman in a gown" >
        <h3>Manuela</h3>
        <p>Eu estava procurando o vestido de noiva perfeito há meses e, quando finalmente o encontrei, sabia que era para ser. No momento em que coloquei, me apaixonei instantaneamente. O vestido abraçou minha figura em todos os lugares certos e acentuou minhas melhores características. A qualidade do tecido era excepcional e a maneira como ele fluía enquanto eu caminhava pelo corredor era simplesmente de tirar o fôlego. A atenção aos detalhes, desde o intrincado bordado até a elegante cauda, foi nada menos que a perfeição. Me senti a noiva mais radiante no dia do meu casamento, e devo tudo a esse vestido incrível. Isso me fez sentir confiante, bonita e verdadeiramente especial no dia mais importante da minha vida.</p>
        </div>
        <div class="col-lg-4">
            <img class="test-img" src="/images/test3.jpeg" width="auto" height="200px" alt="woman in a gown" >
        <h3>Camila</h3>
        <p>Quando imaginei o vestido de noiva dos meus sonhos, nunca pensei que seria possível encontrar algo que combinasse tão perfeitamente com a minha imaginação. Mas então descobri o vestido mais requintado que eu poderia esperar. No momento em que coloquei meus olhos nele, eu sabia que era aquele. Recebi muitos elogios dos meus convidados, todos maravilhados com a beleza do vestido. Ele realmente me fez sentir como uma princesa de conto de fadas no dia do meu casamento, e eu sempre apreciarei as memórias de usar uma criação tão magnífica.</p>
        </div>
        </div>
      </div>
      <div class="carousel-item test-item">
        <div class="row">
          <div class="col-lg-4">
            <img class="test-img" src="/images/test4.jpg" width="auto" height="200px" alt="woman in a gown" >
        <h3>Juliana</h3>
        <p>Não consigo expressar o quanto estou grata por ter encontrado o vestido de noiva dos meus sonhos. Desde o momento em que o experimentei, sabia que era o que eu estava procurando. O design era moderno e romântico, com suas linhas limpas e saia de tule macio. A atenção aos detalhes foi extraordinária, com intrincados bordados e delicados enfeites de renda que adicionaram um toque de glamour. O vestido serviu perfeitamente, fazendo-me sentir confortável e confiante ao longo do dia. Era o epítome da elegância e recebi inúmeros elogios de todos que o viram. Vestir esse vestido me fez sentir a noiva mais linda do mundo, e foi realmente um sonho que se tornou realidade.</p>
        </div>
        <div class="col-lg-4">
            <img class="test-img" src="/images/test5.jpg" width="auto" height="200px" alt="woman in a gown" >
        <h3>Luana</h3>
        <p>Eu tinha grandes expectativas para o meu vestido de noiva e posso dizer com segurança que superou todas elas. No momento em que pisei nele, senti uma sensação avassaladora de alegria e emoção. O artesanato era impecável, com cada costura e ponto executado na perfeição. O intrincado trabalho de renda e o deslumbrante trabalho de miçangas adicionaram um toque de glamour que deixou todos maravilhados. O vestido abraçou minha figura da maneira mais lisonjeira, fazendo-me sentir como uma deusa. Dancei, girei e comemorei nele a noite toda, e ele permaneceu confortável e incrivelmente bonito. Eu não poderia ter pedido um vestido de noiva mais perfeito e serei eternamente grato aos talentosos designers que criaram essa obra-prima.</p>
        </div>
        <div class="col-lg-4">
            <img class="test-img" src="/images/test6.jpg" width="auto" height="200px" alt="woman in a gown" >
        <h3>Gabriela</h3>
        <p>Não posso agradecer aos designers o suficiente por criarem o vestido de noiva dos meus sonhos. Era tudo o que eu já havia imaginado e muito mais. No momento em que o experimentei, soube que era o que eu estava procurando. O ajuste era absolutamente perfeito, feito sob medida para embelezar minha figura. A qualidade do tecido era excepcional, e as intrincadas contas e enfeites adicionavam a quantidade certa de brilho. O vestido não só parecia incrível, mas também me fez sentir a versão mais bonita de mim mesma. Foi a peça central do dia do meu casamento, e sou muito grata pela incrível habilidade e atenção aos detalhes que foram necessários para criar um vestido tão notável.</p>
        </div>
        </div>
      </div>
      <div class="carousel-item test-item">
       <div class="row">
          <div class="col-lg-4">
            <img class="test-img" src="/images/test7.jpg" width="auto" height="200px" alt="woman in a gown" >
        <h3>Beatriz</h3>
        <p>Quando penso no dia do meu casamento, uma coisa que sempre se destaca é a beleza absoluta do meu vestido de noiva. Foi como se tivesse sido feito só para mim. O tecido fluiu graciosamente enquanto eu caminhava, e a silhueta era tão lisonjeira, acentuando todas as características certas. Os designers realmente capturaram minha visão e a deram vida com sua habilidade impecável. A atenção aos detalhes foi excelente, com delicados apliques de renda e uma cauda hipnotizante que acrescentou um toque de drama. Sempre que olho para as fotos do meu casamento, lembro-me de como meu vestido era perfeito e de como ele me fez sentir a noiva mais radiante do mundo.</p>
        </div>
        <div class="col-lg-4">
            <img class="test-img" src="/images/test8.jpg" width="auto" height="200px" alt="woman in a gown" >
        <h3>Sophia</h3>
        <p>Escolher meu vestido de noiva foi uma das decisões mais importantes que tomei para o meu grande dia, e não poderia estar mais feliz com minha escolha. O vestido era uma verdadeira obra de arte, combinando elegância atemporal com um toque moderno. A atenção aos detalhes foi impecável, com bordados intrincados e bordados deslumbrantes que brilhavam a cada passo que eu dava. O vestido não apenas parecia incrível, mas também era incrivelmente confortável. Dancei a noite toda sem preocupações, graças ao design cuidadoso e à qualidade artesanal. Foi realmente um sonho realizado usar um vestido de tirar o fôlego e criar memórias duradouras nele.</p>
        </div>
        <div class="col-lg-4">
            <img class="test-img" src="/images/test9.jpg" width="auto" height="200px" alt="woman in a gown" >
        <h3>Isabella</h3>
        <p>Não consigo expressar o quão absolutamente deslumbrante e perfeito meu vestido de noiva era. Desde o momento em que coloquei os olhos nele, eu sabia que era o único. O intrincado trabalho de renda e o delicado trabalho de miçangas me fizeram sentir uma verdadeira princesa no meu dia especial. O ajuste foi impecável, abraçando minhas curvas em todos os lugares certos e me dando confiança para caminhar pelo corredor com graça. Recebi inúmeros elogios dos meus convidados, todos maravilhados com a beleza e elegância do vestido. Sou eternamente grato aos designers por criarem uma obra-prima que me fez sentir a noiva mais linda do mundo.</p>
        </div>
        </div>
      </div>
    </div>
  </div>
  </div>

<%- include("partials/footer"); -%>
